absl-py==2.3.1
# Editable install with no version control (agent==0.0.1)
-e /Users/karthickkrishnasaisha/Desktop/langgraph
aiodns==4.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aiosignal==1.4.0
ale-py==0.11.2
alembic==1.15.1
alpaca-py==0.37.0
alpaca-trade-api==3.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
blockbuster==1.5.26
Bottleneck==1.6.0
cachetools==6.2.2
ccxt==3.1.60
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.11.1
click==8.1.8
cloudpickle==3.1.2
colorful==0.5.8
contourpy==1.3.3
cryptography==46.0.3
curl_cffi==0.13.0
cvxpy==1.7.5
cycler==0.12.1
decorator==5.2.1
deprecation==2.1.0
distlib==0.4.0
distro==1.9.0
duckdb==1.4.3
ecos==2.0.14
ElegantRL @ git+https://github.com/AI4Finance-Foundation/ElegantRL.git@95a1a6bbc92e62c8d2ac470b2315d961da343889
empyrical-reloaded==0.5.12
exchange_calendars==4.12
executing==2.2.1
Farama-Notifications==0.0.4
fastapi==0.128.0
filelock==3.20.3
finrl @ git+https://github.com/KarthickKrishnasaisha/FinRL-master.git@b36a43c3c57340b3164c266f4b5c2aa22819f54c
Flask==2.2.5
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flutter==0.1
fonttools==4.61.1
forbiddenfruit==0.1.4
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.1.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-health-checking==1.76.0
grpcio-tools==1.75.1
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.3
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
ipython==9.9.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jqdatasdk==1.9.7
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jsonschema_rs==0.29.1
kiwisolver==1.4.9
korean-lunar-calendar==0.3.1
langchain==1.2.6
langchain-core==1.2.7
langchain-openai==1.1.7
langgraph==1.0.6
langgraph-api==0.6.39
langgraph-checkpoint==4.0.0
langgraph-cli==0.4.11
langgraph-prebuilt==1.0.6
langgraph-runtime-inmem==0.22.1
langgraph-sdk==0.3.3
langsmith==0.6.4
llvmlite==0.44.0
Mako==1.3.9
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.3
multidict==6.7.0
multitasking==0.0.12
networkx==3.6.1
niltype==1.0.2
numba==0.61.2
numpy==2.2.6
oauthlib==3.3.1
openai==2.15.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.13.0.90
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-exporter-prometheus==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.5
ormsgpack==1.12.1
osqp==1.0.5
outcome==1.3.0.post0
packaging==24.2
pandas==3.0.0
pandas-ta==0.4.71b0
pandas_market_calendars==5.3.0
parso==0.8.5
peewee==3.17.3
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
plotly==5.24.1
ply==3.11
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.1
psutil==7.2.1
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.1
pyarrow==23.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==5.0.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyfolio-reloaded==0.9.9
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.10.1
pyluach==2.3.0
PyMySQL==1.1.2
pyparsing==3.2.5
pyportfolioopt==1.5.6
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.1
ray==2.53.0
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.1
rpds-py==0.30.0
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.0
scs==3.2.11
seaborn==0.13.2
selenium==4.32.0
setuptools==80.9.0
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.2
SQLAlchemy==2.0.39
sse-starlette==2.1.3
sseclient-py==1.9.0
stable_baselines3==2.7.1
stack-data==0.6.3
starlette==0.50.0
stockstats==0.5.4
structlog==25.5.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
th==0.4.1
threadpoolctl==3.6.0
thriftpy2==0.5.3
tiktoken==0.12.0
toolz==1.1.0
torch==2.9.1
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
truststore==0.10.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==1.26.20
uuid_utils==0.13.0
uvicorn==0.40.0
vaderSentiment==3.3.2
virtualenv==20.36.1
watchfiles==1.1.1
wcwidth==0.4.0
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==16.0
Werkzeug==2.3.7
wrapt==2.0.1
wrds==3.4.0
wsproto==1.3.2
WTForms==3.2.1
xxhash==3.6.0
yarl==1.22.0
-e git+https://github.com/KarthickKrishnasaisha/yfinance.git@255b448a64a065650ca1cfc1fdbf26dd688ae1d6#egg=yfinance
zipp==3.23.0
zstandard==0.25.0
